{% extends "base.html" %}

{% block content %}

<br><br>
<h1 class="text-capitalize text-center bg-dark text-white py-3">Register a New Customer</h1>
<form method="post" class="container mt-4">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input name="name" required type="text" class="form-control" id="name" placeholder="Customer first and last name">
        </div>

        <div class="form-group col-md-4">
            <label for="email">Email</label>
            <input name="email" required type="email" class="form-control" id="email" placeholder="Customer email">
        </div>

        <div class="form-group col-md-2">
            <label for="phone">Phone</label>
            <input name="phone" required type="tel" class="form-control" id="phone" placeholder="Customer phone number">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="sex">Sex</label>
            <select name="sex" class="form-control" required id="sex">
                <option value="">Choose the gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="age">Age</label>
            <select name="age" class="form-control" required id="age">
                <option value="">Choose the age range</option>
                <option value="0-15">0-15</option>
                <option value="15-25">15-25</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="address">Address</label>
        <input required type="text" class="form-control" name="address" id="address" placeholder="Customer address">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="city">City</label>
            <input name="city" required type="text" class="form-control" id="city" placeholder="Customer city">
        </div>

        <div class="form-group col-md-6">
            <label for="zip">Zip Code</label>
            <input name="zip" required type="text" class="form-control" id="zip" placeholder="Customer zip code">
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Save</button>
</form>

<br><br>

{% endblock content %}